/* Add fonts: A free alternative to FF-DIN */
@font-face {
    font-family: "DIN alt";
    src: url("fonts/din1451alt.ttf");
}

@font-face {
    font-family: "DIN altG";
    src: url("fonts/din1451alt G.ttf");
}

/* Common default styles */
html, body {
    height: 100%;
}

html {
    font-family: "DIN alt", Verdana, sans-serif;
    background-color: white;
}

body {
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* Specific elements */
.container {
    background: url(img/visualize_text.png) no-repeat center top 44%, url(img/background.png) no-repeat center;
    /* Full height */
    height: 100%;
    background-size: 51.65em 15em, cover;
}

/* NOTE: add a:active effects */
.top-navbar .title {
    margin-left: 3.6em;
    margin-top: 2.4em;
    margin-bottom: 1.6em;
}
.top-navbar .title a {
    font-family: "DIN altG", Verdana, sans-serif;
    font-size: 2em;
    letter-spacing: .15em;
    color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 0)), url(img/WangYuke_bg.png);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}
/* IE 10&11 doesn't support "background-clip: text:. Use the media query to provide IE-specific CSS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .top-navbar .title a {
        color: black;
        background-image: none;
    }
}

.top-navbar .menu {
    width: 83.33%;
    /* 100% width - width_of_title */
    width: calc(100% - 20em);
    box-sizing: border-box;
    padding-right: 4em;
}
.top-navbar .menu-item a {
    font-size: 1.2em;
    color: #404040;
}

/* Main elements */
.widebar {
    width: 100%;
    height: auto;
    text-align: center;
}

.widebar .inner-box {
    display: inline-block;
}

.widebar#visualize {
    position: relative;
    top: 30vh;
}

.widebar#visualize .inner-box {
}
    /*
.main .widebar#visualize .inner-box {
    height: 15em;
    width: 50em;
    background-image: url(img/visualize_text.png);
    background-size: cover;
    background-repeat: no-repeat;
}
*/

.widebar#seemore {
    height: 4em;
    position: relative;
    top: 88vh;
}

.main .widebar#seemore .inner-box {
    font-size: 1.2em;
    letter-spacing: .1em;
    color: white;
    width: 10em;
    padding: 1em 0 1em 0;
    border-width: .1em;
    border-style: solid;
    border-color: white;
    border-radius: .8vw;
    transition: box-shadow 0.5s cubic-bezier(.25,.8,.25,1), text-shadow 0.5s cubic-bezier(.25,.8,.25,1);
}
.main .widebar#seemore .inner-box:hover {
    box-shadow: .1em .1em .2em rgba(0, 0, 0, .1), inset .1em .1em .2em rgba(0, 0, 0, .1);
    text-shadow: .1em .1em .2em rgba(0, 0, 0, .15);
}


.bottom-navbar {
    text-align: center;
    height: 2em;
    padding-top: 1.2em;
    margin-top: -1.5em;
    background-color: #f6f3f6;
    box-shadow: 0 -5px 5px rgba(0,0,0,0.12);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bottom-navbar:hover {
    box-shadow: 0 -14px 28px rgba(0,0,0,0.25);
}